<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-switch.min.css")
    @Styles.Render("~/Content/jasny-bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-inverse navbar-collapse collapse navbar-right pull-right">
        <ul class="nav navbar-nav">
            @{
                User hUser = Session.GetUser();
                if (hUser != null)
                {
                    if (hUser.IsAdmin)
                    {
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Staff" ? "active" : "")">@Html.ActionLink("Staff", "Index", "Users")</li>
                    }

                    if (hUser.IsSecretary || hUser.IsBursar || hUser.IsAdmin || hUser.IsManager || hUser.IsTeacher)
                    {
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Students" ? "active" : "")">@Html.ActionLink("Students", "Index", "Students")</li>
                    }

                    if (hUser.IsDirector)
                    {
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Courses" ? "active" : "")">@Html.ActionLink("Courses", "Index", "Courses")</li>
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Editions" ? "active" : "")">@Html.ActionLink("Editions", "Index", "Editions")</li>
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Classes" ? "active" : "")">@Html.ActionLink("Classes", "Index", "Classes")</li>
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Topics" ? "active" : "")">@Html.ActionLink("Topics", "Index", "Topics")</li>
                    }

                    if (hUser.IsSecretary || hUser.IsBursar || hUser.IsAdmin || hUser.IsManager || hUser.IsTeacher)
                    {
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Lessons" ? "active" : "")">@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                    }

                    if (hUser.IsTeacher)
                    {
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Exercises" ? "active" : "")">@Html.ActionLink("Exercises", "Index", "Exercises")</li>
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Assignments" ? "active" : "")">@Html.ActionLink("Assignments", "Index", "Assignments")</li>
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Submissions" ? "active" : "")">@Html.ActionLink("Submissions", "Index", "Submissions")</li>
                    }


                }
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @if (Session.GetUser() != null)
            {
                <div class="navbar-header pull-right profile-navbar-section">
                    <div class="row" layout-align="center">
                        <div class="profile-navbar-avatar">
                            @{
                                var imageSource = "https://conferencecloud-assets.s3.amazonaws.com/default_avatar.png";
                                if (Session.GetUser().Picture != null)
                                {
                                    var base64 = Convert.ToBase64String(Session.GetUser().Picture.Data);
                                    imageSource = String.Format("data:image/*;base64,{0}", base64);
                                }
                            }
                            <img src="@imageSource" />
                        </div>
                        <div class="text-left">
                            <h5 class="username">
                                @Session.GetUser().Name
                            </h5>
                        </div>
                        <div class="text-right profile-navbar-avatar logout-btn">
                            <a href="@Url.Action("LogOff", "Account")">
                                <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/012_power-512.png" />
                            </a>
                        </div>
                    </div>
                </div>
            }
            <div class="navbar-header pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session.GetUser() != null && !Session.GetUser().IsOnly(RoleType.Student))
                {
                    @Html.ActionLink("Aiv Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                }
            </div>
        </div>
    </div>
    <div class="container body-content @(ViewContext.RouteData.Values["controller"].ToString().ToLower()) @(ViewContext.RouteData.Values["action"].ToString().ToLower())">
        @RenderBody()
        
        <footer>            
        </footer>
    </div>

    <div class="zoom-panel">
        <img class="image-to-unzoom" src="" alt="Image unavailable" />
        <div class="image-to-unzoom-description">
            <h4 class="text-center"></h4>
            <h6 class="text-center">(Click the image again to close)</h6>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="~/Scripts/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jasny-bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/mozilla-string-view.js"></script>
    <script type="text/javascript" src="~/Scripts/aiv.js"></script>
    
</body>
</html>
