@model manager.aiv.it.Note

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Note</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, "Student", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>





        @*<div class="form-group">
            <label></label>
            @Html.LabelFor(model => model.Text, "Notify", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.CheckBox("notify")                
            </div>
        </div>*@

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk pull-right icon-right"></i>
                    <span>Save</span>
                </button>
                @{

                    User hLuca = ViewBag.Luca as User;
                    string imageSource = String.Format("data:image/jpg+png;base64,{0}", Convert.ToBase64String(hLuca.Picture.Data));

                    @Html.CheckBox("notify")
                    <img class="table-list-avatar" src="@imageSource" style="height:64px; width:64px; " />
                }
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { studentId = Request.QueryString["studentId"] })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
