@model manager.aiv.it.User

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href="@Url.Action("Index")">
                        <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">User Details</span>
            </div>
            <div class="col col-xs-4 col-sm-2">
                @if (Session["Roles"] != null && (Session["Roles"] as List<RoleType>).Contains(RoleType.Secretary))
                {
                    <div class="text-right">
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                            <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                            <span>Edit</span>
                        </a>
                    </div>
                }
            </div>
        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Base Data</h4>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Name)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Name)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Surname)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Surname)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Email)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @if (string.IsNullOrEmpty(Model.Email))
                                            {
                                                <span>&minus;</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(model => model.Email)
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Mobile)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Mobile)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.RegistrationDate)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Model.RegistrationDate.ToShortDateString()
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Roles)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @{ 
                                                string rolesString = "";
                                                foreach (var role in Model.Roles)
                                                {
                                                    rolesString += role.Name + "; ";
                                                }
                                            }

                                            <span>@rolesString</span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>