@model manager.aiv.it.Lesson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        @foreach(var item in Model.Students)
        {
            <dd>
                @item.DisplayName
            </dd>
        }
        <dt>
            Class Size
        </dt>

        <dd>
            @string.Format("{0} / {1}", Model.Students.Count(), Model.ClassSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>
        @foreach (var item in Model.Topics)
        {
            <dd>
                @item.DisplayName
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
