@model manager.aiv.it.Lesson

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href="javascript:window.history.back();">
                        <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">@Model.DisplayName</span>
            </div>
            <div class="col col-xs-4 col-sm-2">
                <div class="text-right">
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                        <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                        <span>Edit</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="thumbnail">

                    <div class="card-image">

                        @if (Model.Binary != null)
                        {
                            <div class="card-quote text-center">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Download", new { BinaryId = Model.BinaryId })">
                                    <i class="glyphicon glyphicon-floppy-save"></i>
                                    <span><strong>Download</strong></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="card-quote text-center">
                                No Available Download
                            </div>
                        }
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Base Data</h4>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Date
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Model.Date.ToShortDateString()
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Teacher
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Teacher.DisplayName)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Class
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Class.DisplayName)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Notes
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Notes)
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="panel-group" id="detailPanels" role="tablist" aria-multiselectable="true">
                    <!-- Accordion panel for Students data -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingStudents">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapseStudents" aria-expanded="true" aria-controls="collapseStudents">
                                    Students ( @string.Format("{0} / {1}", Model.Students.Count(), Model.ClassSize) )
                                </a>
                            </h4>
                        </div>
                        <div id="collapseStudents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingStudents">
                            <div class="panel-body">
                                <div class="row">
                                    @{
                                        var students = Model.Students.ToList();
                                    }

                                    @if (students.Count() == 0)
                                    {
                                        <div class="col-sm-12 col-md-12 col-xs-12" layout-align="center">
                                            <h5>No results found.</h5>
                                        </div>
                                    }

                                    @foreach (var item in students)
                                    {
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="thumbnail">
                                                <div class="card-content">
                                                    <div class="row" layout-align="center">
                                                        <div class="col-sm-3 col-md-3 col-xs-3">

                                                            @{
                                                                var imageSource = "/Content/default_avatar.png";
                                                                if (item.Picture != null && item.Picture.Data != null)
                                                                {
                                                                    var base64 = Convert.ToBase64String(item.Picture.Data);
                                                                    imageSource = String.Format("data:image/jpg+png;base64,{0}", base64);
                                                                }
                                                            }
                                                            <img class="table-list-avatar small" src="@imageSource" />

                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-xs-9">
                                                            <div class="row">
                                                                <div class="col-sm-12 text-right"><strong>@item.DisplayName</strong></div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-sm-12 text-right">@item.Email</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-sm-12 text-center">
                                                            <a class="btn btn-default btn-sm action-button" href="@Url.Action("Details", "Students", new { id = item.Id })"><i class="glyphicon glyphicon-chevron-right"></i> Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion panel for Topics data -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTopics">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapseTopics" aria-expanded="true" aria-controls="collapseTopics">
                                    Topics
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTopics" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTopics">
                            <div class="panel-body">
                                <div class="row">
                                    @{
                                        var topics = Model.Topics.ToList();
                                    }

                                    @if (topics.Count() == 0)
                                    {
                                        <div class="col-sm-12 col-md-12 col-xs-12" layout-align="center">
                                            <h5>No results found.</h5>
                                        </div>
                                    }

                                    @foreach (var item in topics)
                                    {
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="thumbnail">
                                                <div class="card-content">
                                                    <div class="row">
                                                        <div class="col-sm-3"><label>Name</label></div>
                                                        <div class="col-sm-9 text-right">
                                                            <a href="@Url.Action("Details", "Topics", new { id = item.Id })">
                                                                @item.Name, @item.Description
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-3"><label>Date Added</label></div>
                                                        <div class="col-sm-9 text-right">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DateAdded))</div>
                                                    </div>
                                                </div>

                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-sm-12 text-center">
                                                            <a class="btn btn-default btn-sm action-button" href="@Url.Action("Details", "Topics", new { id = item.Id })"><i class="glyphicon glyphicon-chevron-right"></i> Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>