@model manager.aiv.it.Lesson

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href="@Url.Action("Index")">
                        <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">@Model.DisplayName</span>
            </div>
            <div class="col col-xs-4 col-sm-2">
                <div class="text-right">
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                        <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                        <span>Edit</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Base Data</h4>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Date
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Date)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Teacher
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Teacher.DisplayName)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Class
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Class.DisplayName)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Notes
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Notes)
                                        </div>
                                    </div>


                                    <h4 class="section-title">Students</h4>
                                    <h5>Total students: @string.Format("{0} / {1}", Model.Students.Count(), Model.ClassSize)</h5>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-responsive table-hover">
                                                <tr>
                                                    <th style="width:50%">Name</th>
                                                    <th style="width:50%">Email</th>
                                                </tr>
                                                @foreach (var item in Model.Students)
                                                {
                                                    <tr>
                                                        <td>@if(item.Name != null) { @item.DisplayName }</td>
                                                        <td>@if(item.Email != null) { @item.Email }</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>


                                    <h4 class="section-title">Topics</h4>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-responsive table-hover">
                                                <tr>
                                                    <th style="width:30%">Name</th>
                                                    <th style="width:30%">Description</th>
                                                    <th style="width:30%" class="text-right">Actions</th>
                                                </tr>
                                                @foreach (var item in Model.Topics)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@item.Description</td>
                                                        <td class="text-right">
                                                            <a title="View @item.DisplayName" class="btn btn-default btn-sm" href="@Url.Action("Details", "Topics", new { id = item.Id })"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>