@model IEnumerable<IGrouping<DateTime, ViewLessonFullData>>

@{
    ViewBag.Title = "Index";
}

<div class="row row-title title-margin">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" layout-align="center">
            <div class="col-md-8 col-xs-6 col-sm-6">
                <span class="title">Index</span>
            </div>
            @if (Session.GetUser().IsTeacher)
            {
                <div class="col-md-4 col-xs-6 col-sm-6 text-right">
                    <a class="btn btn-primary" href="@Url.Action("Create")">
                        <i class="glyphicon glyphicon-plus pull-right icon-right"></i>
                        <span>Create New</span>
                    </a>
                </div>
            }
        </div>

        @using (Html.BeginForm("Index", "Lessons", FormMethod.Get, new { @class = "filters" }))
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="input-group">
                        <input id="search" type="text" name="search" placeholder="" class="form-control" value='@Request.QueryString["search"]' />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6" layout-align="end">
                    @Html.DropDownList("SearchId", null, "-", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-responsive table-hover">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Class
                </th>
                <th>
                    Teacher
                </th>
                <th>
                   Students
                </th>
                <th class="text-right table-actions">
                    Actions
                </th>
            </tr>

            @foreach (var group in Model)
            {
                foreach (var lesson in group)
                {
                    <tr>
                        <td>
                            @if (lesson == group.First())
                            {
                                <strong>@lesson.Date.ToShortDateString()</strong>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => lesson.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => lesson.TeacherName)
                        </td>
                        <td>
                             @if (lesson.ClassSize.HasValue)
                             {
                                @Html.DisplayFor(modelItem => lesson.StudentsCount)
                                <text>/</text>
                                @Html.DisplayFor(modelItem => lesson.ClassSize)                        
                             }
                        </td>
                        <td class="text-right">
                            @if (Session.GetUser().IsTeacher || Session.GetUser().IsSecretary)
                            {
                                <a title="Edit Lesson" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Edit", new { id = lesson.Id })"><i class="glyphicon glyphicon-pencil"></i></a>

                                if (Session.GetUser().IsTeacher)
                                {
                                    <a title="Delete Lesson" class="btn btn-default text-danger btn-sm action-button" href="@Url.Action("Delete", new { id = lesson.Id })"><i class="glyphicon glyphicon-remove"></i></a>
                                }
                            }
                            <a title="View Lesson"   class="btn btn-default btn-sm action-button" href="@Url.Action("Details", new { id = lesson.Id })"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </td>
                    </tr>
                }


            }

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">
                        <a class="btn btn-block" href="@Url.Action("Create")">No results found. Click here to create a new record.</a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>