@model manager.aiv.it.Class

@{
    ViewBag.Title = "Close";
}

<h2>Close</h2>

<h3>Are you sure you want to close this class?</h3>
<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edition.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition.Id)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Classes", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove pull-right icon-right"></i>
                <span>Close</span>
            </button>
            @Html.ActionLink("Back to List", "Index", "Classes");
        </div>
    }
</div>
