@model manager.aiv.it.Class

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href="@Url.Action("Index")">
                        <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">Class</span>
            </div>
            <div class="col col-xs-4 col-sm-2">
                <div class="text-right">
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                        <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                        <span>Edit</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Base Data</h4>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Name
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.DisplayName)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Section
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Section)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Edition ID
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Edition.Id)
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>