@model manager.aiv.it.Class

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href='@Url.Action("Index")'>
                        <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">Class</span>
            </div>

            <div class="col col-xs-4 col-sm-2">
                <div class="text-right">
                    @if (Session.GetUser().IsDirector)
                    {
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                            <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                            <span>Edit</span>
                        </a>
                    }
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="thumbnail">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Base Data</h4>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12" layout-align="end">
                                            @if (Session.GetUser().IsDirector)
                                            {
                                                <div class="text-right">
                                                    <a class="btn btn-primary" href="@Url.Action("ResetCredentials", new { id = Model.Id })">
                                                        <span>Reset Credentials</span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Class
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.DisplayName)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Size
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Students.ToList().Count)
                                        </div>
                                    </div>

 
                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Lessons
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.DisplayLessonsCount)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Student Frequency
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.DisplayFrequency)
                                        </div>
                                    </div>                 
                                </section>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel-group" id="classDetailPanels" role="tablist" aria-multiselectable="true">
                    @Html.Partial("_PartialDetailStudents", Model)
                    @Html.Partial("_PartialDetailLessons", Model)
                </div>
            </div>
        </div>
    </div>
</div>