@model IEnumerable<manager.aiv.it.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayStudentsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayLessonsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayPoints)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayStudentsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayLessonsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayFrequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayPoints)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
