@model manager.aiv.it.User

<!-- Accordion panel for Missed Lessons data -->
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingLessons">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapseLessons" aria-expanded="true" aria-controls="collapseLessons">
                Lessons
            </a>
        </h4>
    </div>
    <div id="collapseLessons" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLessons">
        <div class="panel-body">
            <div class="row">
                @{ 
                    var allLessons = Model.LessonsFollowed.Concat(Model.MissedLessons.Where(hL => hL.ClassSize != null)).OrderByDescending(L => L.Date);
                }

                @if (allLessons.Count() == 0)
                {
                    <div class="col-sm-12 col-md-12 col-xs-12" layout-align="center">
                        <h5>No results found.</h5>
                    </div>
                }

                @foreach (var item in allLessons)
                {
                    var followedClass   = Model.LessonsFollowed.Contains(item) ? "followed" : "not-followed";
                    var icon            = Model.LessonsFollowed.Contains(item) ? "glyphicon glyphicon-ok-circle" : "glyphicon glyphicon-remove-circle";
                    var message         = Model.LessonsFollowed.Contains(item) ? "Followed" : "Missed";

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail" flex>
                            <div class="card-image">
                                <div class="card-quote lesson-follow-alert @followedClass">
                                    <i class="@icon pull-right"></i>
                                    <span>@message</span>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-sm-3"><label>Date</label></div>
                                    <div class="col-sm-9 text-right">
                                        @item.Date.ToShortDateString()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"><label>Teacher</label></div>
                                    <div class="col-sm-9 text-right">
                                        @Html.DisplayFor(modelItem => item.Teacher.DisplayName)
                                    </div>
                                </div>

                                <div class="row" flex>
                                    <div class="col-sm-3"><label>Topics</label></div>
                                    <div class="col-sm-9 text-right">
                                        @foreach (var topic in item.Topics)
                                        {
                                            @Html.ActionLink(topic.DisplayName, "Details", "Topics", new { Id = topic.Id }, null)
                                        }
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div style="height:80px; text-align:justify;">
                                            @item.Notes
                                        </div>
                                    </div>
                                </div>


                                
                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <a class="btn btn-default btn-sm action-button" href="@Url.Action("Details", "Lessons", new { id = item.Id })">
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                            Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

