@model manager.aiv.it.User

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href="@Url.Action("Index")">
                        <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">@Model.DisplayName</span>
            </div>
            <div class="col col-xs-4 col-sm-2">
                <div class="text-right">
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                        <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                        <span>Edit</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="card">
                    <div class="card-image">

                        <div class="picture-wrapper">
                            <img src="http://it.emcelettronica.com/wp-content/uploads/files/node_images/programmers%20copia.JPG" alt="Programmer"
                                 name="programmers%20copia.JPG" class="image-to-zoom" />
                        </div>

                        <div class="card-quote">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <span>"I like trains and naked cheetas"</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Base Data</h4>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Name)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Name)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Surname)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Surname)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Email)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @if (string.IsNullOrEmpty(Model.Email))
                                            {
                                                <span>&minus;</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(model => model.Email)
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Mobile)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Mobile)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Class)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Class.DisplayName)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.DisplayFrequency)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.DisplayFrequency)
                                        </div>
                                    </div>
                                </section>

                                <h4 class="section-title">Homeworks</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-responsive table-hover">                 
                                            <tr>
                                                <th style="width:50%">Name</th>
                                                <th style="width:20%">Type</th>
                                                <th style="width:10%">Deadline</th>
                                                <th style="width:10%">Value</th>
                                                <th style="width:10%">Submit</th>
                                            </tr>
                                            @foreach (var item in Model.Class.Assignments.Where(a => DateTime.Now.Date <= a.Deadline.Date))
                                            {
                                                <tr>
                                                    <td>@Html.ActionLink(item.Exercise.Name, "Details", "Exercises", new { Id = item.Exercise.Id }, null)</td>
                                                    <td>@item.Exercise.Type.Name</td>
                                                    <td>@string.Format("{0} Days", (item.Deadline - item.UnlockDate).Days)</td>
                                                    <td>@item.ExerciseValue</td>
                                                    <td>
                                                        @using (Html.BeginForm("Upload", "Submissions", null, FormMethod.Post, new { enctype = "multipart/form-data", name = "form" + item.Id }))
                                                        {
                                                            bool bUploaded = (from s in Model.ExercisesSubmitted where s.Assignment.Id == item.Id && s.StudentId == Session.GetUser().Id select s).FirstOrDefault() != null;

                                                            foreach (var s in Model.ExercisesSubmitted)
                                                            {
                                                                <div><strong>Query params:</strong></div>
                                                                <div>assignment id = @s.Assignment.Id    VS    item id = @item.Id </div>
                                                                <div>student id = @s.StudentId     VS      Sessio user id = @Session.GetUser().Id</div>
                                                            }

                                                            foreach (var stocazzo in (from s in Model.ExercisesSubmitted where s.Assignment.Id == item.Id && s.StudentId == Session.GetUser().Id select s).ToList())
                                                            {
                                                                <div>@stocazzo.DisplayName</div>
                                                            }

                                                            string sInputId  = $"Input{item.Id}";
                                                            string sOnChange = $"document.form{item.Id}.submit();";
                                                            string sColor    = bUploaded ? "green" : "red" ;
                                                            string sIcon     = bUploaded ? "glyphicon-ok" : "glyphicon-cloud-upload";

                                                            <input type="hidden" name="assignmentId" value=@item.Id />
                                                            <input type="file" id=sInputId name="upload" class="inputfile" onchange=@sOnChange />
                                                            <label for=sInputId class="btn btn-default text-primary btn-sm action-button"><i class="glyphicon @sIcon" style="color:@sColor;"></i></label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>

                                <h4 class="section-title">Missed Lessons</h4>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-striped table-responsive table-hover">
                                            <tr>
                                                <th style="width:50%">Date</th>
                                                <th style="width:20%">Teacher</th>
                                                <th style="width:20%">Topics</th>
                                                <th style="width:10%">Details</th>
                                            </tr>
                                            @foreach (var item in Model.MissedLessons)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Date)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Teacher.DisplayName)
                                                    </td>
                                                    <td>
                                                        @foreach (var topic in item.Topics)
                                                        {
                                                            @Html.ActionLink(topic.DisplayName, "Details", "Topics", new { Id = topic.Id }, null)
                                                            <br />
                                                        }
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default btn-sm action-button" href="@Url.Action("Details", "Lessons", new { id = item.Id })"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>