@model manager.aiv.it.Models.StudentViewModels

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href="@Url.Action("Index")">
                        <i class="glyphicon glyphicon-backward pull-right icon-right"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">Student Details</span>
            </div>
            <div class="col col-xs-4 col-sm-2">
                @if (Session["Roles"] != null && (Session["Roles"] as List<RoleType>).Contains(RoleType.Secretary))
                {
                    <div class="text-right">
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                            <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                            <span>Edit</span>
                        </a>
                    </div>
                }
            </div>
        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="card">
                    <div class="card-image">

                        <div class="picture-wrapper">
                            @if (Model.Class.ToLower().Contains("graphic"))
                            {
                                <img src="http://static.ilfoglio.it/redazione/articoli/2016/05/02/141439/picasso.jpg" alt="Pablo Picasso"
                                     onclick="(function () { alert('Let me photoshop it.'); })()" />
                            }
                            else if (Model.Class.ToLower().Contains("program"))
                            {
                                <img src="http://it.emcelettronica.com/wp-content/uploads/files/node_images/programmers%20copia.JPG" alt="Programmer"
                                     onclick="(function () { alert('Are you talkin\' 10 me?!?'); })()" />
                            }
                            else {
                                <img src="https://imgflip.com/s/meme/Ancient-Aliens.jpg" alt="Aliens"
                                     onclick="(function () { alert('Warning! You got an alien.'); })()" />
                            }
                        </div>

                        <div class="card-quote">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <span>"I like trains and naked cheetas"</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Anagrafica</h4>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Name)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Name)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Surname)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Surname)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Email)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @if (string.IsNullOrEmpty(Model.Email))
                                            {
                                                <span>&minus;</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(model => model.Email)
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Mobile)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @if (string.IsNullOrEmpty(Model.Mobile))
                                            {
                                                <span>&minus;</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(model => model.Mobile)
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Class)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Class)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.Frequency)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Frequency)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">@Html.DisplayNameFor(model => model.MissedTopics)</span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @if (Model != null && Model.MissedTopics != null && Model.MissedTopics.Count > 0)
                                            {
                                                foreach (string topic in Model.MissedTopics)
                                                {
                                                    @Html.Display(topic)
                                                }
                                            }
                                            else {
                                                <span>&minus;</span>
                                            }
                                        </div>
                                    </div>
                                </section>

                                <!-- INFORMAZIONI DIDATTICHE -->
                                <h4 class="section-title">Esercitazioni assegnate</h4>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-responsive table-hover">
                                            <tr>
                                                <th>Corso</th>
                                                <th>Lezione</th>
                                                <th>Topic</th>
                                                <th>Description</th>
                                                <th>Effettuato</th>
                                                <th>Voto</th>
                                            </tr>
                                            <tr>
                                                <td>Graphics 1A</td>
                                                <td>1</td>
                                                <td>Photoshop</td>
                                                <td>Introduzione</td>
                                                <td>
                                                    <div class="checkbox disabled">
                                                        <label>
                                                            <input switch type="checkbox" disabled data-toggle="toggle">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>0 / 100</td>
                                            </tr>
                                            <tr>
                                                <td>Graphics 1A</td>
                                                <td>2</td>
                                                <td>Photoshop</td>
                                                <td>Layers</td>
                                                <td class="form-group">
                                                    <div class="checkbox disabled">
                                                        <label>
                                                            <input switch type="checkbox" checked disabled data-toggle="toggle">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>60 / 100</td>
                                            </tr>
                                            <tr>
                                                <td>Graphics 1A</td>
                                                <td>3</td>
                                                <td>Cubismo</td>
                                                <td>Astrazioni</td>
                                                <td>
                                                    <div class="checkbox disabled">
                                                        <label>
                                                            <input switch type="checkbox" checked disabled data-toggle="toggle">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>99 / 100</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>