@model manager.aiv.it.User

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="edit row">

        <div class="col-xs-12">

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.PictureId)
            </div>

            <div class="row row-title">
                <div class="col col-xs-4 col-sm-2">
                    @if (Session.GetUser() != null && !Session.GetUser().IsOnly(RoleType.Student))
                    {
                    <div class="text-left">
                        <a class="btn btn-default" href='@Url.Action("Index")'>
                            <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                            <span>Back</span>
                        </a>
                    </div>
                    }
                </div>
                <div class="col col-xs-4 col-sm-8">
                    <span class="title">Edit Student</span>
                </div>
                <div class="col col-xs-4 col-sm-2">
                    <div class="text-right">

                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk pull-right icon-right"></i>
                            <span>Save</span>
                        </button>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col col-xs-12">

                    <div class="thumbnail">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-12">

                                    <!-- INFORMAZIONI ANAGRAFICHE -->
                                    <section>
                                        <h4 class="section-title">Anagrafica</h4>

                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Name)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Surname)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Email)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Password)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Mobile)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.City)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Address)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Code)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-2 col-xs-6">
                                                @Html.LabelFor(model => model.Class)
                                            </div>
                                            <div class="col col-xs-6">
                                                <div class="form-group">
                                                    @Html.DropDownList("ClassId", null, "-", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





