@model IEnumerable<manager.aiv.it.User>

@{
    ViewBag.Title = "Index";
}

<div class="row row-title title-margin">
    <div class="col-sm-12 col-xs-12 col-md-12">
        <div class="row" layout-align="center">
            <div class="col-md-8 col-xs-6 col-sm-6">
                <span class="title">Index</span>
            </div>
            @if (Session.GetUser().IsTeacher)
            {
                <div class="col-md-4 col-xs-6 col-sm-6 text-right">
                    <a class="btn btn-primary" href="@Url.Action("Create")">
                        <i class="glyphicon glyphicon-plus pull-right icon-right"></i>
                        <span>Create New</span>
                    </a>
                </div>
            }
        </div>

        @using (Html.BeginForm("Index", "Students", FormMethod.Get, new { @class = "filters" }))
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="input-group">
                        <input id="search" type="text" name="search" placeholder="" class="form-control" value='@Request.QueryString["search"]' />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6" layout-align="end">
                    <div class="btn-group activable-group">
                        @if (@Request.QueryString["option"] == "enlisted")
                        {
                            <label class="btn btn-default activable-label active">
                                <input class="activable" type="radio" name="option" value="enlisted" checked />
                                Enlisted
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default activable-label">
                                <input class="activable" type="radio" name="option" value="enlisted" />
                                Enlisted
                            </label>
                        }

                        @if (@Request.QueryString["option"] == "notes")
                        {
                            <label class="btn btn-default activable-label active">
                                <input class="activable" type="radio" name="option" value="notes" checked />
                                With Notes
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default activable-label">
                                <input class="activable" type="radio" name="option" value="notes" />
                                With Notes
                            </label>
                        }


                        @if (@Request.QueryString["option"] == "all")
                        {
                            <label class="btn btn-default activable-label active">
                                <input class="activable" type="radio" name="option" value="all" checked />
                                All
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default activable-label">
                                <input class="activable" type="radio" name="option" value="all" />
                                All
                            </label>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!--
<div class="row">
    <div class="col-xs-12 table-container">

        <table class="table table-striped table-responsive table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    Notes
                </th>
                <th class="text-right table-actions">
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            var imageSource = "/Content/default_avatar.png";
                            if (item.Picture != null && item.Picture.Data != null)
                            {
                                var base64 = Convert.ToBase64String(item.Picture.Data);
                                imageSource = String.Format("data:image/jpg+png;base64,{0}", base64);
                            }
                        }
                        <a href="@Url.Action("Details", new { id = item.Id })">
                            <img class="table-list-avatar" src="@imageSource" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.DisplayName)
                    </td>
                    <td>
                        <a title="Create a note for this student" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Create", "Notes", new { studentId = item.Id })"><i class="glyphicon glyphicon-bookmark"></i></a>
                        @if(item.NotesReceived.Count != 0)
                        {
                            <a title="List all notes for this student" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Index", "Notes", new { studentId = item.Id })"><i class="glyphicon glyphicon-book"></i></a>
                        }
                    </td>
                    <td class="text-right table-actions">    
                        @if (Session.GetUser().IsSecretary)
                        {
                            <a title="Edit Student profile" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a title="Delete Student"       class="btn btn-default text-danger btn-sm action-button" href="@Url.Action("Delete", new { id = item.Id })"><i class="glyphicon glyphicon-remove"></i></a>
                        }
                        <a title="View Student profile" class="btn btn-default btn-sm action-button" href="@Url.Action("Details", new { id = item.Id })"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </td>
                </tr>
            }

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="8" class="text-center">
                        <span>No results found.</span>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
-->


<div class="panel panel-default">
    <div id="collapseStudents" class="panel-collapse thumbnail-list collapse in" role="tabpanel" aria-labelledby="headingStudents">
        <div class="panel-body">
            <div class="row">
                @if (Model.Count() == 0)
                {
                    <div class="col-sm-12 col-md-12 col-xs-12" layout-align="center">
                        <h5>No results found.</h5>
                    </div>
                }

                @foreach (var item in Model)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail full-height-image">
                            <div class="card-image">
                                <div class="card-quote">
                                    <strong>
                                        <a href="@Url.Action("Details", new { id = item.Id })">@item.DisplayName</a>
                                    </strong>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row" layout-align="center">
                                    <div class="col-sm-3 col-md-3 col-xs-3 full-height-image">

                                        @{
                                            var imageSource = "/Content/default_avatar.png";
                                            if (item.Picture != null && item.Picture.Data != null)
                                            {
                                                var base64 = Convert.ToBase64String(item.Picture.Data);
                                                imageSource = String.Format("data:image/jpg+png;base64,{0}", base64);
                                            }
                                        }
                                        <img class="table-list-avatar small" src="@imageSource" />

                                    </div>
                                    <div class="col-sm-9 col-md-9 col-xs-9" layout-align="end">

                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                @if (item.Email != null && !string.IsNullOrEmpty(item.Email))
                                                {
                                                    <a href="mailto:@item.Email">@item.Email</a>
                                                }
                                                else
                                                {
                                                    <span>Nessuna mail</span>
                                                }
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                @if (item.Mobile != null)
                                                {
                                                    <span>@item.Mobile</span>
                                                }
                                                else
                                                {
                                                    <span>Nessun telefono</span>
                                                }
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                @if(item.Class != null)
                                                {
                                                    <span>@item.Class.DisplayName</span>
                                                }
                                                else
                                                {
                                                    <span>Nessuna classe</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (!Session.GetUser().IsOnly(RoleType.Student))
                            {
                                <div class="card-footer">
                                    <div class="table-actions text-right">
                                        <a title="Edit Student profile" class="btn btn-default text-primary btn-xs action-button" href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                                        <a title="Delete Student" class="btn btn-default text-danger btn-xs action-button" href="@Url.Action("Delete", new { id = item.Id })"><i class="glyphicon glyphicon-remove"></i>Delete</a>
                                        <a title="View Student profile" class="btn btn-default btn-xs action-button" href="@Url.Action("Details", new { id = item.Id })"><i class="glyphicon glyphicon-chevron-right"></i>Details</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                                            }
            </div>
        </div>
    </div>
</div>



