@model IEnumerable<manager.aiv.it.User>

@{
    ViewBag.Title = "Index";
}

<div class="row row-title title-margin">
    <div class="col-md-10 col-xs-6">
        <span class="title">Index</span>
    </div>
    @if (Session.GetUser().IsSecretarty)
    {
        <div class="col-md-2 col-xs-6 text-right">
            <a class="btn btn-primary" href="@Url.Action("Create")">
                <i class="glyphicon glyphicon-plus pull-right icon-right"></i>
                <span>Create New</span>
            </a>
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12 table-container">
        <div class="table-left-indicator"> << </div>
        <div class="table-right-indicator"> >> </div>
        <table class="table table-striped table-responsive table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    Note actions
                </th>
                <th class="text-right">
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.DisplayName)
                    </td>
                    <td>
                        <a title="Create a note for this student" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Create", "Notes", new { studentId = item.Id })"><i class="glyphicon glyphicon-bookmark"></i></a>
                        <a title="List all notes for this student" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Index", "Notes", new { studentId = item.Id })"><i class="glyphicon glyphicon-book"></i></a>
                    </td>
                    <td class="text-right">    
                        @if (Session.GetUser().IsSecretarty)
                        {
                            <a title="Edit Student profile" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a title="Delete Student"       class="btn btn-default text-danger btn-sm action-button" href="@Url.Action("Delete", new { id = item.Id })"><i class="glyphicon glyphicon-remove"></i></a>
                        }
                        <a title="View Student profile" class="btn btn-default btn-sm action-button" href="@Url.Action("Details", new { id = item.Id })"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </td>
                </tr>
            }

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">
                        <a class="btn btn-block" href="@Url.Action("Create")">No results found. Click here to create a new record.</a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
