@model manager.aiv.it.Topic

@{
    ViewBag.Title = "Details";
}

<div class="details row">

    <div class="col-xs-12">
        <div class="row row-title">
            <div class="col col-xs-4 col-sm-2">
                <div class="text-left">
                    <a class="btn btn-default" href='@Url.Action("Index")'>
                        <i class="glyphicon glyphicon-chevron-left pull-left icon-left"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-8">
                <span class="title">@Model.DisplayName</span>
            </div>
            <div class="col col-xs-4 col-sm-2">
                <div class="text-right">
                    @if (Session.GetUser().IsTeacher)
                    {
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
                            <i class="glyphicon glyphicon-pencil pull-right icon-right"></i>
                            <span>Edit</span>
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col col-xs-12">

                <div class="thumbnail">
                    <div class="card-image">

                        @if (Model.Binary != null)
                        {
                            <div class="card-quote text-center">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Download", new { BinaryId = Model.BinaryId })">
                                    <i class="glyphicon glyphicon-floppy-save"></i>
                                    <span><strong>Download</strong></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="card-quote text-center">
                                No Available Download
                            </div>
                        }
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- INFORMAZIONI ANAGRAFICHE -->
                                <section>
                                    <h4 class="section-title">Base Data</h4>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Name
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Name)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Description
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Html.DisplayFor(model => model.Description)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <span class="bold">
                                                Date Added
                                            </span>
                                        </div>
                                        <div class="col col-xs-6">
                                            @Model.DateAdded.ToShortDateString()
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>