@model manager.aiv.it.Topic

@{
    ViewBag.Title = "Details";
}

<div class="details">
    <div class="row">
        <div class="col-sm-12">
            <h2>Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Topic</h4>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <span class="bold">@Html.DisplayNameFor(model => model.Name)</span>
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <span class="bold">@Html.DisplayNameFor(model => model.Description)</span>
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <span class="bold">@Html.DisplayNameFor(model => model.DateAdded)</span>
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.DateAdded)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <span class="bold">@Html.DisplayNameFor(model => model.DateDeprecated)</span>
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.DateDeprecated)
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="text-right">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>