@model IEnumerable<IGrouping<int, manager.aiv.it.Topic>>

@{
    ViewBag.Title = "Index";
}

<div class="row row-title title-margin">
    <div class="col-md-10 col-xs-6">
        <span class="title">Index</span>
    </div>
    <div class="col-md-2 col-xs-6 text-right">
        <a class="btn btn-primary" href="@Url.Action("Create")">
            <i class="glyphicon glyphicon-plus pull-right icon-right"></i>
            <span>Create New</span>
        </a>
    </div>
</div>

@using (Html.BeginForm("Index", "Topics", FormMethod.Get))
{
    <b>Search Options:</b>
            @Html.TextBox("search")
            <input type="submit" name="submit" , value="Search" style="shape-margin:10px" />
}

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-responsive table-hover">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Attachment
                </th>
                <th>
                    Description
                </th>
                <th>
                    Course
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Is Deprecated
                </th>
                <th class="text-right table-actions">
                    Actions
                </th>
            </tr>

            @foreach (var group in Model)
            {
                <tr>
                    <td><h4>@group.First().Course.DisplayName</h4></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                foreach (var topic in group)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => topic.Name)
                        </td>
                        <td>
                            @if (topic.BinaryId != null)
                            {
                                <a href="@Url.Action("Download", "Topics", new { BinaryId = topic.BinaryId })">
                                    <i class="glyphicon glyphicon-paperclip"></i>
                                </a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => topic.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => topic.Course.DisplayName)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", topic.DateAdded))
                        </td>
                        <td>
                            @{
                                if (topic.Deprecated)
                                {
                                    <p>Deprecated</p>
                                }
                                else
                                {
                                    <p></p>
                                }
                            }
                        </td>
                        <td class="text-right">
                            <a title="Edit @topic.DisplayName" class="btn btn-default text-primary btn-sm" href="@Url.Action("Edit", new { id = topic.Id })"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a title="Delete @topic.DisplayName" class="btn btn-default text-danger btn-sm" href="@Url.Action("Delete", new { id = topic.Id })"><i class="glyphicon glyphicon-remove"></i></a>
                            <a title="View @topic.DisplayName" class="btn btn-default btn-sm" href="@Url.Action("Details", new { id = topic.Id })"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </td>
                    </tr>
                }




            }

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        <span>No results found.</span>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>